<!-- REGISTRY VIEW -->
<div class="contentBlock" layout="row">
  <div layout="column" flex-gt-md="10" flex-xs="5" flex-sm="5" flex-md="5"></div>
  <div ng-if="validRegistry==false" layout="row" layout-align="center center" flex-gt-md="80" flex-xs="90" flex-sm="90" flex-md="90">
    <h1>Registry Not Found!</h1>
  </div>
  <div ng-if={{UserObject.StripeAccountActivated}}==false" layout="row" layout-align="center center" flex-gt-md="80" flex-xs="90" flex-sm="90" flex-md="90">
    <h1>https://dashboard.stripe.com/account/activate?client_id=ca_8smosntmpkM1quL5NLYJgChMzxH6PFc3&user_id=acct_14qyt6Alijdnw0EA</h1>
  </div>
  <div ng-if="validRegistry==true" class="dashboardContainer" layout="column" flex-gt-md="80" flex-xs="80" flex-sm="80" flex-md="80">
      <form name="editRegistryForm" ng-submit="saveChanges()">
        <!-- IMAGE -->
        <div class="dashboardHeader" layout-gt-md="row" layout-md="column" layout-sm="column" layout-xs="column">
          <div class="regitryPhotoSection" flex-gt-md="30" flex-md="100" flex-sm="100" flex-xs="100" layout="column" layout-align="center center">
            <img id="dashboardImage" ng-src="{{dashboardRegistry.imageURL}}">
            <md-button class="md-raised submitButton" name="changePhoto" aria-label="Change Photo" value="changePhoto" ng-click="showPhotoDialog($event)">Change photo</md-button>
            <span>This is the photo that will be displayed in your Registry.</span>
          </div>
          <div flex="20" hide-md hide-xs hide-sm></div>
          <div flex-gt-md="50" layout="column" flex-md="100" flex-sm="100" flex-xs="100" layout-align="center center">
            <div layout-align="center center">
              <h1 class="registryName"> {{dashboardRegistry.firstName}} {{dashboardRegistry.lastName}} & Family</h1>
            </div>
            <!-- SOCIAL MEDIA -->
            <div class="regitrySocialMediaSection" layout="column">
              <div layout="column" layout-align="center center">
                <span>Visit your registry page at:</span><br>
                <a ng-href="{{fullURL}}" target="_blank">{{fullURL}}</a><br>
                <span>You can also use the media buttons to share your link on social media.</span>
                <br>
              </div>
              <div layout="row" layout-align="center center">
                <a socialshare
                socialshare-provider="twitter"
                socialshare-text="My Take12 Registry"
                socialshare-hashtags="take12, take12Registry"
                socialshare-url="{{fullURL}}">
                <img class="socialMediaIcon" src="views/assets/twitter.png" alt="Twitter"></a>
                </a>
                <a socialshare
                socialshare-provider="facebook"
                socialshare-url="{{fullURL}}">
                <img class="socialMediaIcon" src="views/assets/facebook.png" alt="Facebook">
                </a>
                <!-- Instagram doesn't have a web sharer -->
                <!-- <img class="socialMediaIcon" src="views/assets/instagram.png" alt="Instagram"> -->
                <a socialshare
                socialshare-provider="google"
                socialshare-url="{{fullURL}}">
                <img class="socialMediaIcon" src="views/assets/googleplus.png" alt="Google Plus">
                </a>
                <a socialshare
                socialshare-provider="pinterest"
                socialshare-url="{{fullURL}}"
                socialshare-text="My Take12 Registry"
                socialshare-media="{{dashboardRegistry.imageURL}}">
                <img class="socialMediaIcon" src="views/assets/pinterest.png" alt="Pinterest">
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- MAIN INFO -->
        <div class="dasboardMainInfo" layout="column">
          <!-- FIRST AND LAST NAME -->
          <div layout-gt-md="row" layout-md="column" layout-sm="column" layout-xs="column">
            <!-- FIRST NAME -->
            <div flex-gt-md="45" flex-md="100" flex-sm="100" flex-xs="100">
              <md-input-container layout="column">
                <div>
                  <label for="firstName">First name:</label>
                  <input type="text" ng-model="dashboardRegistry.firstName" required/>
                  <div ng-messages="editRegistryForm.dashboardRegistry.firstName.$error">
                    <div ng-message="required">A first name is required!</div>
                  </div>
                </div>
              </md-input-container>
            </div>
            <div flex="10" hide-md hide-sm hide-xs></div>
            <!-- LAST NAME -->
            <div flex-gt-md="45" flex-md="100" flex-sm="100" flex-xs="100">
              <md-input-container layout="column">
                <div>
                  <label for="firstName">Last name:</label>
                  <input type="text" ng-model="dashboardRegistry.lastName" required/>
                  <div ng-messages="editRegistryForm.dashboardRegistry.lastName.$error">
                    <div ng-message="required">A last name is required!</div>
                  </div>
                </div>
              </md-input-container>
            </div>
          </div>
          <!-- LOCATION -->
          <div layout-gt-md="row" layout-md="column" layout-sm="column" layout-xs="column">
            <!-- CITY -->
            <div flex-gt-md="45" flex-md="100" flex-sm="100" flex-xs="100">
              <md-input-container layout="column">
                <div>
                  <label for="city">City:</label>
                  <input type="text" ng-model="dashboardRegistry.city"/>
                </div>
              </md-input-container>
            </div>
            <div flex="10" hide-md hide-sm hide-xs></div>
            <!-- STATE -->
            <div flex-gt-md="45" flex-md="100" flex-sm="100" flex-xs="100">
              <md-input-container class="md-block" flex-gt-sm>
                <label>State</label>
                <md-select ng-model="dashboardRegistry.state">
                  <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                    {{state.abbrev}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <!-- DUE DATE AND AMOUNTS -->
          <div layout-gt-md="row" layout-md="column" layout-sm="column" layout-xs="column">
            <!-- BABY'S DUE DATE -->
            <div flex-gt-md="45" flex-md="100" flex-sm="100" flex-xs="100">
              <span>Baby's due date:</span>
              <md-input-container layout="column" class="eventInputs">
                <div>
                  <md-datepicker ng-model="dashboardRegistry.dueDate" md-current-view="year" md-placeholder="Enter date" required></md-datepicker>
                  <div ng-messages="editRegistryForm.dashboardRegistry.dueDate.$error" ng-if='submitted'>
                    <div ng-message="required">A date is required!</div>
                  </div>
                </div>
              </md-input-container>
            </div>
            <div flex="10" hide-md hide-sm hide-xs></div>
            <!-- AMOUNTS -->
            <div flex-gt-md="45" flex-md="100" flex-sm="100" flex-xs="100">
              <!-- REGISTRY GOAL AMOUNT -->
              <div>
                <md-input-container layout="column">
                  <div>
                    <label for="goalAmount">Goal amount:</label>
                    <input ng-model="dashboardRegistry.goalAmount" type="number" required>
                    <div ng-messages="editRegistryForm.dashboardRegistry.goalAmount.$error">
                      <div ng-message="required">A goal amount is required!</div>
                    </div>
                  </div>
                </md-input-container>
              </div>
              <!-- CURRENT AMOUNT GIFTED -->
              <div layout="row" layout-align="center center">
                <h3>Current amount gifted: $</h3>
                <h3>{{dashboardRegistry.currentAmount}}</h3>
              </div>
            </div>
          </div>
        </div>

        <!-- STORY -->
        <div class="registryStoryTitle" layout="column" layout-align="center center">
          <h2> {{dashboardRegistry.firstName}} {{dashboardRegistry.lastName}}'s story</h2>
        </div>
        <div class="angularTextArea" text-angular ng-model="dashboardRegistry.story" name="editor1" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>

        <!-- PRIVACY -->
        <div class="registryPrivacySection">
          <div layout="column" layout-align="center center">
            <h2>Privacy setting</h2>
          </div>
          <md-radio-group ng-model="dashboardRegistry.privacy">
            <md-radio-button value="public">Public:
              <span>Your registry will be displayed on our public registry page and can be found via our search function based on name.</span>
            </md-radio-button>
            <br>
            <md-radio-button value="semi">Semi-Private:
              <span>Your registry can be found via our search function based on name.</span>
            </md-radio-button>
            <br>
            <md-radio-button value="private">Private:
              <span>Your name can be found via our search function but a request must be sent to you in order to view the contents of your registry page. You can also share your private link with whomever you wish.</span>
            </md-radio-button>
          </md-radio-group>
          <br>
        </div>

        <!-- SOCIAL MEDIA -->
        <div class="regitrySocialMediaSection" layout="column">
          <div layout="column" layout-align="center center">
            <h2>Share your registry</h2>
            <span>This is your link:</span><br>
            <a ng-href="{{fullURL}}" target="_blank">{{fullURL}}</a><br>
            <span>You can also use the media buttons to share your link on social media.</span>
            <br>
          </div>
          <div layout="row" layout-align="center center">
            <a socialshare
            socialshare-provider="twitter"
            socialshare-text="My Take12 Registry"
            socialshare-hashtags="take12, take12Registry"
            socialshare-url="{{fullURL}}">
            <img class="socialMediaIcon" src="views/assets/twitter.png" alt="Twitter"></a>
            </a>
            <a socialshare
            socialshare-provider="facebook"
            socialshare-url="{{fullURL}}">
            <img class="socialMediaIcon" src="views/assets/facebook.png" alt="Facebook">
            </a>
            <!-- Instagram doesn't have a web sharer -->
            <!-- <img class="socialMediaIcon" src="views/assets/instagram.png" alt="Instagram"> -->
            <a socialshare
            socialshare-provider="google"
            socialshare-url="{{fullURL}}">
            <img class="socialMediaIcon" src="views/assets/googleplus.png" alt="Google Plus">
            </a>
            <a socialshare
            socialshare-provider="pinterest"
            socialshare-url="{{fullURL}}"
            socialshare-text="My Take12 Registry"
            socialshare-media="{{dashboardRegistry.imageURL}}">
            <img class="socialMediaIcon" src="views/assets/pinterest.png" alt="Pinterest">
            </a>
          </div>
        </div>

        <!-- SAVE AND DISCARD CHANGES BUTTONS -->
        <md-input-container layout="row" layout-align="center center">
          <md-button class="md-raised submitButton" name="discardChanges" aria-label="Discard changes" value="discardChanges" ng-click="discardChanges()">Discard Changes</md-button>
          <md-button class="md-raised submitButton" type="submit" name="submit" aria-label="Save changes" value="saveChanges">Save Changes</md-button>
        </md-input-container>
    </form>
  </div>
</div>
