<!--Find Registry View -->
<!-- Search Feature - Searches All Registries -->

<!--Defaults to Displaying all registries with a Public Setting-->
<div class="contentBlock textFormat" layout="Row">
  <div layout="column" flex = "15"></div>
  <div layout="column" flex = "70">
    <h1>Public Registries</h1>
    <p>The public registry is a community of moms who have decided to share their
    Unpaid Leave journey. These women have chosen to share their story because they
    need help from our greater community and want to spread awareness of what
    partially/unpaid leave really looks like in the US.
    </p>

  </div>
</div>
