<!--Find Registry View -->
<div class="contentBlock textFormat" layout="row">
  <div layout="column" flex-gt-md="15" hide-md hide-sm hide-xs></div>
  <div layout="column" flex-gt-md="70" flex-xs="100" flex-sm="100" flex-md="100">
    <md-content layout-xs="column" layout="column" layout-wrap
              ng-init = "vm.getRegistries()">
        <!-- Search Feature - Searches All Registries -->
        <h1 class = "badScriptHeading">Find a Registry</h1>
        <p class="publicRegistryText">Find your loved one by name. Regardless of the privacy setting your
          loved one has selected, you can search for their registry listing here.
        </p>
        <md-content layout-padding layout = "row" layout-align = "center center">
          <div>
            <md-input-container>
              <input ng-model ="search" placeholder="Enter Name">
            </md-input-container>
          </div>
        </md-content>
        <div>
          <md-button class = "md-raised submitButton"
                      href = "#/publicRegistry">View All Public Registries
          </md-button>
        </div>

        <md-content class="registryResults">
          <md-list flex>
            <md-divider ></md-divider>
            <md-list-item class="md-3-line"
            ng-repeat = "registry in vm.registriesObject.allRegistries | filter:search"
                  ng-if = "search.toLowerCase() === registry.firstName || search.toLowerCase() === registry.lastName"
                  ng-click="null">
              <img src="views/assets/Take12Logo100px.png" class="md-avatar"
                    ng-if = "registry.privacy === 'private' ||
                      registry.imageURL === ''" alt="Take12 Logo">
              <img ng-src="{{registry.imageURL}}" alt="profile picture"
                  ng-if = "registry.privacy !== 'private' &&
                      registry.imageURL !== ''"  class="md-avatar">
              <div class="md-list-item-text" layout="column">
                <h3>{{vm.titleCase(registry.firstName)}} {{vm.titleCase(registry.lastName)}}</h3>
                <h4 ng-if = "registry.privacy !== 'private'">Baby Due: {{registry.dueDate | date}}</h4>
                <p ng-bind-html ="registry.story | limitTo: vm.limit"
                    ng-if = "registry.privacy !== 'private'"></p>
                <p ng-if = "registry.privacy === 'private'">
                    This is a private registry. The owner must grant you access.</p>
              </div>
              <div layout-align="end end" hide-md hide-sm hide-xs>
                <md-button class = "md-raised submitButton"
                            href = "#/registry/{{registry.registryURL}}"
                            ng-if = "registry.privacy !== 'private'">
                            View Full Regisry</md-button>
              </div>
              <md-divider ></md-divider>
            </md-list-item>
            <md-divider ></md-divider>
          </md-list>
        </md-content>
    </md-content>
  </div>
</div>
