<!-- HOW TO PLAN FOR YOUR MATERNITY LEAVE VIEW -->
<div class="contentBlock" layout="row">
  <div layout="column" flex-gt-md="20" flex-xs="10" flex-sm="10" flex-md="20"></div>
  <div layout="column" flex-gt-md="60" flex-xs="80" flex-sm="80" flex-md="60">
    <h1 class="howToPlanTitle">How to Plan for Your Maternity Leave</h1>
    <h2 class="howToPlanSubtitle">Time is money! The only way to get a clear
      picture on how you can afford to Take12 is to determine your number as
      clearly as possible.</h2>
    <h3>(Connect with your company’s HR department to clarify any questions
      regarding the information below)</h3>
    <ul>
      <li>Start with your net income per pay period and multiply by 6.</li>
      <li>Subtract any Short Term Disability pay you may be eligible for. Most
        policies offer 6 weeks at 60% of your pay, minus a 1 week
        "waiting period"- so 5 weeks at 60% of your pay.</li>
      <li>Subtract any additional paid leave benefit your company may offer.</li>
      <li>If you are the insurance policy holder, determine the amount due for
        employee contribution on missed pay periods. Talk to your HR dept.
        Some companies deduct this amount from your Short Term Disability benefit
        payout if you do not advise otherwise.  Some expect payment upon return
        to work or can work out a payment plan on future pay checks).
        Add this number.</li>
      <li>Call your insurance provider and ask about maternity benefits for
        delivery.  This is a good area to plan for the worst and hope for the
        best. Determine what your maximum out-of-pocket payment could be for you
        and the baby!  Add this number.</li>
      <li>Determine what child care will cost for the first week or two upon your
        return to work. You may have to pay for child care before you earn a
        dollar back at work.  Add this number.</li>
    </ul>
    <h4 class="howToPlanSubtitle">This is your amount needed to Take 12 weeks of leave!</h4>
    <h3>Additional questions for HR while planning</h3>
    <ul>
      <li>How and when do I add my new baby to my insurance policy?</li>
      <li>Do I have an FSA account? If not, how can I max out this benefit? An
        FSA sets aside tax free dollars from every paycheck for health care
        expenses including prescriptions, co-pays, breastfeeding supplies and
        several items you can purchase at the drugstore.</li>
      <li>Do I have a Dependent Care account? This is similar to an FSA or HSA,
        but is solely dedicated to pay for dependent care. Be sure to check with
        your benefits provider to be certain that your childcare is eligible
        for this benefit before you elect.</li>
      <li>Does my office have a designated pumping room?  If not, ask for one
        to be provided for you. If you plan on nursing you will want to set
        yourself up for success. Your company is required to provide you with
        a private room to pump that is not a bathroom stall.</li>
    </ul>
    <h2 class="howToPlanSubtitle">For more tips, connect with us on social media!</h2>
    <br><br>
  </div>
</div>
