<!--Public Registry View -->
<!--Defaults to Displaying all registries with a Public Setting-->
<div class="contentBlock textFormat" layout="Row">
  <div layout="column" flex-gt-md="15" hide-md hide-sm hide-xs></div>
  <div layout="column" flex-gt-md="70" flex-xs="100" flex-sm="100" flex-md="100">

    <md-content layout-xs="column" layout="column" layout-wrap
              ng-init = "vm.getRegistries()">

      <h1 class="badScriptHeading">Public Registry</h1>
      <p class="publicRegistryText">The public registry is a community of moms who have decided to share their
      Unpaid Leave journey. These women have chosen to share their story because they
      need help from our greater community and want to spread awareness of what
      partially/unpaid leave really looks like in the US.
      </p>
      <div>
          <md-button class = "md-raised submitButton"
                      href = "#/findRegistry">Find a Loved One</md-button>
      </div>

      <!-- SEARCH RESULTS -->
      <md-content class="registryResults">
        <!-- <md-list flex> -->
        <md-list>
          <md-divider ></md-divider>
          <md-list-item class="md-3-line"
                ng-repeat= "registry in vm.registriesObject.allRegistries | filter:searchText"
                ng-if = "registry.privacy === 'public'"
                ng-click="showRegistry(registry.registryURL)">
            <img src="views/assets/Take12Logo100px.png" class="md-avatar"
                  ng-if = "registry.imageURL === ''" alt="Take12 Logo">
            <img ng-src="{{registry.imageURL}}" alt="profile picture"
                  ng-if = "registry.imageURL !==''"  class="md-avatar">
            <div class="md-list-item-text" layout="column">
              <h3>{{vm.titleCase(registry.firstName)}} {{vm.titleCase(registry.lastName)}}</h3>
              <h4>Baby Due: {{registry.dueDate | date}}</h4>
              <p ng-bind-html ="registry.story | limitTo: vm.limit"></p>
            </div>
            <div layout-align="end end" hide-md hide-sm hide-xs>
              <md-button class = "md-raised submitButton"
                          href = "#/registry/{{registry.registryURL}}">
                          View Full Registry</md-button>
            </div>
            <md-divider ></md-divider>
          </md-list-item>
          <md-divider ></md-divider>
        </md-list>
      </md-content>
      </div>
  </md-content>
  </div>
</div>
