<!-- REGISTRY VIEW -->
<div class="contentBlock" layout="row">
  <div layout="column" flex-gt-md="10" flex-xs="10" flex-sm="10" flex-md="10"></div>
  <div layout="column" flex-gt-md="80" flex-xs="80" flex-sm="80" flex-md="80">
    <div class="registryContainer" layout="row">
      <div layout="column" flex-gt-md="60">
        <div>
          <img id="primaryImage" ng-src="{{currentRegistry.imageURL}}">
        </div>
        <div class="registryStorySection">
          <h1> {{currentRegistry.firstName}} {{currentRegistry.lastName}} & Family</h1>
          <div class="registryStoryText" ng-bind-html="currentRegistry.story"></div>
        </div>
        <div class="registryCommentCount" layout="row">
          <span class="commentContainerCount">{{numberOfComments}}</span>
          <span class="commentContainerCount">&nbsp comments</span>
        </div>
        <div class="registryCommentSection" layout="column" ng-repeat="comment in currentRegistry.comments">
          <div class="commentContainer" layout="column" layout-align="start start">
            <span class="commentContainerDonorName">{{comment.donorName}}</span>
            <span class="commentContainerComment">{{comment.comment}}</span>
          </div>
        </div>


      </div>
      <div layout="column" flex-gt-md="10" flex-xs="10" flex-sm="10" flex-md="10"></div>
      <div layout="column" flex-gt-md="30" flex-xs="30" flex-sm="30" flex-md="30">
        <div>
          <h2>Let's Make Sure {{currentRegistry.firstName}} Has Time at Home!</h1>
        </div>
        <div class="registryChart">
          <canvas id="myChart" height="100%" width="100%" border="1px"></canvas>
        </div>
      </div>

    </div>
  </div>
</div>
