<!-- REGISTRY VIEW -->
<div class="contentBlock" layout="row">
  <div layout="column" flex-gt-md="15" flex-xs="15" flex-sm="15" flex-md="15"></div>
  <div ng-if="validRegistry==false" layout="row" layout-align="center center" flex-gt-md="80" flex-xs="80" flex-sm="80" flex-md="80">
    <h1>Registry Not Found!</h1>
  </div>
  <div ng-if="validRegistry==true" layout="column" flex-gt-md="70" flex-xs="70" flex-sm="70" flex-md="70">
    <div class="registryContainer" layout="row">
      <div layout="column" flex-gt-md="50">
        <!-- IMAGE -->
        <div layout="row" layout-align="center center">
          <img id="primaryImage" ng-src="{{currentRegistry.imageURL}}">
        </div>
        <!-- STORY -->
        <div class="registryStorySection">
          <h1> {{currentRegistry.firstName}} {{currentRegistry.lastName}} & Family</h1>
          <div class="registryStoryText" ng-bind-html="currentRegistry.story"></div>
        </div>
        <!-- COMMENTS -->
        <div class="registryCommentSection">
          <div class="registryCommentCount" layout="row">
            <span class="commentContainerCount">{{numberOfComments}}</span>
            <span class="commentContainerCount">&nbsp comments</span>
          </div>
          <div layout="column" ng-repeat="comment in currentRegistry.comments">
            <div class="commentContainer" layout="column" layout-align="start start">
              <span class="commentContainerDonorName">{{comment.donorName}}</span>
              <span class="commentContainerComment">{{comment.comment}}</span>
            </div>
          </div>
        </div>
      </div>
      <div layout="column" flex-gt-md="10" flex-xs="10" flex-sm="10" flex-md="10"></div>
      <div layout="column" flex-gt-md="40" flex-xs="30" flex-sm="30" flex-md="30">
        <div>
          <h2>Let's Make Sure {{currentRegistry.firstName}} Has Time at Home!</h1>
        </div>
        <!-- CHART -->
        <div class="registryChartSection" layout="row" layout-align="center center">
          <div layout-align="center center" flex="80" id="canvas-holder" style="width: 300px;">
            <canvas id="myChart" width="300" height="300"></canvas>
            <div id="chartjs-tooltip" style="font-family: 'Lato', sans-serif">
          		<table></table>
          	</div>
          </div>
        </div>
        <div class="registryChartSection" layout="row" layout-align="center center">
          <span>{{currentRegistry.firstName}} Has
          <strong>{{numDaysGifted}}</strong>
           More Days of Maternity Leave!</span>
        </div>
        <!-- SLIDER -->
        <div class="registrySliderSection" layout="column">
          <span class="registrySliderMoment" ng-if="slider.minValue <= 20">Diaper Time</span>
          <span class="registrySliderMoment" ng-if="slider.minValue > 20 && slider.minValue <= 40">Tummy Time</span>
          <span class="registrySliderMoment" ng-if="slider.minValue > 40 && slider.minValue <= 60">Nap with Mom</span>
          <span class="registrySliderMoment" ng-if="slider.minValue > 60 && slider.minValue <= 80">Baby’s first Giggle</span>
          <span class="registrySliderMoment" ng-if="slider.minValue > 80 && slider.minValue <= 100">Read with Mom</span>
          <span class="registrySliderMoment" ng-if="slider.minValue > 100 && slider.minValue <= 120">Parent Date Night</span>
          <span class="registrySliderMoment" ng-if="slider.minValue > 120 && slider.minValue <= 180">Visit with Grandma!</span>
          <span class="registrySliderMoment" ng-if="slider.minValue > 180 && slider.minValue <= 300">Full Night Sleep!</span>
          <span class="registrySliderMoment" ng-if="slider.minValue > 300 && slider.minValue <= 500">NICU Visit</span>
          <div>
            <rzslider class="custom-slider"
            rz-slider-model="slider.minValue"
            rz-slider-high="slider.maxValue"
            rz-slider-options="slider.options"></rzslider>
          </div>
          <div layout="row" layout-align="center center">
            <span>Your Gift:&nbsp&nbsp</span>
            <h2>${{slider.minValue}}</h2>
          </div>
          <div layout="row" layout-align="center center">
            <md-button class="md-raised submitButton" name="giftNow" aria-label="Gift now" value="giftNow" ng-click="goToCheckout()">Gift Now!</md-button>
          </div>
        </div>
        <!-- SOCIAL MEDIA -->
        <div ng-if="currentRegistry.privacy!='private'" class="regitrySocialMediaSection" layout="column">
          <div layout="row" layout-align="center center">
            <h2>Share!</h1>
          </div>
          <div layout="row" layout-align="center center">
            <a socialshare
            socialshare-provider="twitter"
            socialshare-text="My Take12 Registry"
            socialshare-hashtags="take12, take12Registry"
            socialshare-url="{{fullURL}}">
            <img class="socialMediaIcon" src="views/assets/twitter.png" alt="Twitter"></a>
            </a>
            <a socialshare
            socialshare-provider="facebook"
            socialshare-url="{{fullURL}}">
            <img class="socialMediaIcon" src="views/assets/facebook.png" alt="Facebook">
            </a>
            <!-- Instagram doesn't have a web sharer -->
            <!-- <img class="socialMediaIcon" src="views/assets/instagram.png" alt="Instagram"> -->
            <a socialshare
            socialshare-provider="google"
            socialshare-url="{{fullURL}}">
            <img class="socialMediaIcon" src="views/assets/googleplus.png" alt="Google Plus">
            </a>
            <a socialshare
            socialshare-provider="pinterest"
            socialshare-url="{{fullURL}}"
            socialshare-text="My Take12 Registry"
            socialshare-media="{{currentRegistry.imageURL}}">
            <img class="socialMediaIcon" src="views/assets/pinterest.png" alt="Pinterest">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
