<!-- REGISTRATION STEPS: -->

<!-- WHO -->
<div ng-show="visibleStep==0">
  <div ng-include="'views/partials/registerWho.html'"></div>
</div>
<!-- MAIN INFO -->
<div ng-show="visibleStep==1">
  <div ng-include="'views/partials/registerMainInfo.html'"></div>
</div>
<!-- PHOTO -->
<div ng-show="visibleStep==2">
  <div ng-include="'views/partials/registerPhoto.html'"></div>
</div>
<!-- STORY -->
<div ng-show="visibleStep==3">
  <div ng-include="'views/partials/registerStory.html'"></div>
</div>
<!-- PRIVACY -->
<div ng-show="visibleStep==4">
  <div ng-include="'views/partials/registerPrivacy.html'"></div>
</div>
<!-- STRIPE -->
<div ng-show="visibleStep==5">
  <div ng-include="'views/partials/registerStripe.html'"></div>
</div>
