<!-- REGISTER NEW USER VIEW -->
<div class="contentBlock textFormat" layout="row">
  <div layout="column" flex = "25"></div>
  <div layout="column" flex = "50">
    <h1 class = "badScriptHeading">Create a New Registry with Take12</h1>
    <p>Creating a registry for you or a loved one is quick and easy. To get
        started, simply create an account below using <em><strong>your</strong></em>
        email or Facebook account. Once your Take12 account is created we will guide you
        through the Registry creation process.</p>
  </div>
</div>
<div class="contentBlock" layout="row">
  <div layout="column" flex-gt-md="33" flex-xs="10" flex-sm="10" flex-md="20"></div>
  <div class="createRegistryBlock" layout="column" flex-gt-md="33" flex-xs="80" flex-sm="80" flex-md="60">
    <div layout="column" flex-align="center center">
      <h1 class = "registerHeader">Create A New Account</h1>
    </div>
    <div class="createRegistryText" layout="column" flex-align="center center">
      <br>
    </div>
    <h3 ng-if="message != ''">{{message}}</h3>
    <div class="createRegistryContainer" layout="column">
      <md-input-container layout="column" layout-align="center center">
        <div>
          <md-button class="md-raised fbButton" type="submit" name="facebook"
          aria-label="Connect with Facebook" value="facebook" ng-click="fbSignUp()">Connect with Facebook</md-button>
        </div>
        <br>
        <span>or</span>
      </md-input-container>
      <form form name="registerView" ng-submit="registerUser()">
        <md-input-container layout="column">
          <div>
            <label for="email">Email:</label>
            <input type="text" ng-model="newUser.email" required/>
            <div ng-messages="registerView.newUser.email.$error">
              <div ng-message="required">An email address is required!</div>
            </div>
          </div>
        </md-input-container>
        <md-input-container layout="column">
          <div>
            <label for="password">Create password:</label>
            <input type="password" ng-model="newUser.password" required/>
            <div ng-messages="registerView.newUser.password.$error">
              <div ng-message="required">A password is required!</div>
            </div>
          </div>
        </md-input-container>
        <md-input-container layout="column">
          <div>
            <label for="password">Confirm password:</label>
            <input type="password" ng-model="newUser.confirmPassword" required/>
            <div ng-messages="registerView.newUser.confirmPassword.$error">
              <div ng-message="required">A password confirmation is required!</div>
            </div>
          </div>
        </md-input-container>
        <md-input-container layout="row" layout-align="center center">
          <md-button class="md-raised submitButton" type="submit" name="submit" aria-label="Submit" value="Submit">Submit</md-button>
        </md-input-container>
      </form>
    </div>
  </div>
</div>
