/* COLORS:
 Teal             #136a80
 Turquoise        #6acbc4
 Pink
 Very light gray  rgba(0,0,0,.02)
 Brown            #554846
 Violet           #8f6a89
*/

.form-check{
  color: #8f6a89;
  font-size: 24px;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding-top: 10px;
  background-color: white;
}

main {
  font-family: 'Lato', sans-serif;
  background-color: white;
  min-height: 680px;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: lighter;
}

span {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

li {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 10px;
}

md-menu-content {
  max-height: 90vh;
}

.navBar {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1050;
}

.contentBlock {
  width:100%;
  padding-top:92px;
  z-index:5;
  overflow:auto;
}

.badScriptHeading{
  font-family: 'Bad Script', Arial, sans-serif;
  color: #136a80;
  font-size: 30px;
  font-weight: 500;
}

.loginBlock {
  /*border: 2px solid #8f6a89;*/
  /*border-radius: 5px;*/
  background-color: rgba(0,0,0,.02);
  margin-bottom: 20px;
  min-height: 550px;
}

.createRegistryBlock {

}

.goalAmountBlock {
  background-color: rgba(0,0,0,.02);
  padding: 10px;
  margin-bottom: 20px;
}

.loginContainer, .createRegistryContainer {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.loginContainer a {
  color: #8f6a89;
}

.loginContent {
  margin: 0 !important;
}

.loginHeader, .registerHeader{
  background-color: #136a80;
  font-family: 'Lato', sans-serif;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.imgNav {
  padding-left: 43px;
  width: auto;
  height: 45px;
}

.imgNav:focus {
    outline: none;
    border: 0;
}

.navBarOptions {
  padding-right: 43px;
}

.textFormat {
  text-align: center;
  color: #757575;
}

.menuOption {
  font-family: 'Lato', sans-serif;
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
  font-size: 12px;
  color: #554846;
  font-weight: lighter;
  text-decoration: none;
}

.menuOption:hover {
    color: #f7aca0;
}

.navBarDivider {
  color: #f7aca0;
}

.loginOption {
  font-family: 'Lato', sans-serif;
  height: 26px;
  line-height: 26px;
  padding: 0 30px;
  font-size: 12px;
  background: #136a80;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.footerBlock {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #136a80;
  height: 160px;
  color: #fff;
}

.footerOptions{
    padding-bottom: 10px;
}

.footerOption {
  padding: 0 15px;
  text-decoration: none;
  color: #fff;
}

.footerOption:hover {
  color: #ff4081;
}

.createRegistryText {
  width: 100%;
  text-align: center;
}

.md-button.fbButton {
  color: white !important;
  background-color: #3b5998 !important;
  font-weight: 300 !important;
  padding-left: 20px;
  padding-right: 20px;
}

.md-button.giftNowButton {
  color: white !important;
  background-color: #6acbc4 !important;
  font-weight: 300 !important;
  width: 100%;
}

.md-button.submitButton {
  color: white !important;
  background-color: #6acbc4 !important;
  font-weight: 300 !important;
  padding-left: 20px;
  padding-right: 20px;
}

.md-button.registerWhoButton {
  color: white !important;
  background-color: #6acbc4 !important;
  font-weight: 300 !important;
  padding-left: 20px;
  padding-right: 20px;
  white-space: normal !important;
}

.md-raised.textEditorButton {
  background-color: lightgray !important;
  border: 1px !important;
  color: white !important;
  min-width: 30px !important;
  min-height: 30px !important;
  margin: 2px;
  font-weight: lighter !important;
}

.md-raised.textEditorButton:hover {
  background-color: #6acbc4 !important;
}

.md-button.submitButton:hover {
  background-color: #136a80 !important;
}

.md-button.menuButton {
  font-weight: 300 !important;
  font-size: 12px !important;
  height: 18px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.md-button.loginButton {
  font-size: 12px !important;
  background: #136a80 !important;
  color: #fff !important;
  font-weight: 400 !important;
}

.menuIcon {
  color: #136a80;
}

.floatingMenu {
  z-index: 2050;
  background-color: red;
}

.helpIcon {
  color: #136a80;
  font-size: 14px;
}

.helpIcon:focus {
    outline: none;
    border: 0;
}

.howToPlanTitle {
  color: #f7aca0;
  text-align: center;
}

.howToPlanSubtitle {
  color: #136a80;
  text-align: center;
}

.photoPicker:focus {
  outline: none;
  border: 0;
}

.photoPicker {
  font-weight: 300 !important;
  padding-left: 50px !important;
}

.pictureUploadContainer {
  text-align: center;
}

.uploadPhotoDiv {
  padding-top: 30px;
  text-align:center;
}

.registrationPhotoPreview {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
  height: 200px;
}

form .progress {
  line-height: 15px;
}

.progress {
  display: inline-block;
  width: 100px;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

.angularTextArea .border-around {
  border: 1px solid #590041;
}

/* To remove the outline in the textarea of text-angular */
div[contenteditable="true"] {
  outline: none;
}


.angularTextArea p, li{
  font-size: 14px;
  font-weight: 300;
  font-family: "Lato","Helvetica Neue", Arial, sans-serif;
}

.btn-toolbar {
  margin: 0 0 10px 0;
  text-align:center;
}

.registryContainer h1 {
  font-family: 'Bad Script', Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.registryContainer h2 {
  font-family: 'Bad Script', Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

#primaryImage {
  width: auto;
  max-height: 350px;
}

.registryStorySection {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #136a80;
  color: white;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 200px;
  overflow: scroll;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .registryName {
    font-family: 'Bad Script', Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1024px) {
  .registryName {
    font-family: 'Bad Script', Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .registryStorySection h1 {
    font-family: 'Bad Script', Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1024px) {
  .registryStorySection h1 {
    font-family: 'Bad Script', Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
  }
}

.registryCommentCount {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #dedede;
}

.commentContainerCount {
  font-size: 12px;
  font-weight: bold;
  color: #136a80;
  font-family: "Lato","Helvetica Neue", Arial, sans-serif;
}

.commentContainer {
  border-bottom: 1px solid #dedede;
  padding-top: 10px;
  padding-bottom: 10px;
}

.commentContainerDonorName {
  font-size: 12px;
  font-weight: 300;
  color: #136a80;
  font-family: "Lato","Helvetica Neue", Arial, sans-serif;
}

.registryCommentSection {
    margin-bottom: 25px;
    max-height: 400px;
    overflow: scroll;
}

.commentContainerComment {
  font-size: 12px;
  font-weight: 300;
  color: black;
  font-family: "Lato","Helvetica Neue", Arial, sans-serif;
  padding-bottom: 10px;
}

.registryChartSection {
  margin-bottom: 25px;
}

.registrySliderSection {
  margin-bottom: 25px;
  border: 1px solid #dedede;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.registrySliderMoment {
  font-size: 18px;
  font-weight: bold;
  color: #6acbc4;
  font-family: "Lato","Helvetica Neue", Arial, sans-serif;
}

.custom-slider.rzslider .rz-bar {
  background: #dedede;
  height: 5px;
}
.custom-slider.rzslider .rz-selection {
  background: orange;
}

.custom-slider.rzslider .rz-pointer {
  width: 10px;
  height: 26px;
  background-color: #6acbc4;
  background: url(/views/assets/slider.png);
  background-size: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.custom-slider.rzslider .rz-pointer:focus {
  outline: none;
  border: 0;
}

.custom-slider.rzslider .rz-pointer:after {
  display: none;
}

.regitrySocialMediaSection {
  margin-bottom: 25px;
}

.socialMediaIcon {
  width: 30px;
  height: auto;
  padding: 2px;
}

.mainViewContainer h1 {
  font-family: 'Bad Script', Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.registryCard {
  width: 230px;
  height: 300px;
  font-size: 10px;

}

.registryCardContainer {
  width: 230px;
  height: 200px;
  text-align:center;
  line-height:200px;
  overflow: hidden;
}

.registryCardPhoto {
  top: 0;
  left: 0;
}

.registryCardPhoto:focus {
    outline: none;
    border: 0;
}

.publicRegistryText {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.registryResults {
  max-height: 1000px;
  overflow: scroll;
}

.cardTitle {
  font-family: "Lato","Helvetica Neue", Arial, sans-serif;
  color: darkslategray;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
}

.cardTitle:focus {
  outline: none;
  border: 0;
}

.dashboardContainer h1 {
  font-family: 'Bad Script', Arial, sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #554846;
}

.dashboardContainer h2 {
  font-family: 'Bad Script', Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.dashboardContainer h3 {
  font-family: 'Bad Script', Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #8f6a89;
}

.dashboardContainer a {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color:#136a80;
}

.dashboardContainer span {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: lighter;
}

.dashboardHeader {
  background-color: rgba(0,0,0,.02);
  padding: 25px;
  margin-bottom: 25px
}

#dashboardImage {
  width: 80%;
  height: auto;
}

.dashboardStripeReminder {
  background-color: #ff6666;
  padding: 25px;
  margin-bottom: 25px
}

.photoDialog {
  width: 40%;
}

.dialogHeader {
  background-color: color:#136a80;
  color: white;
}

.dialogUploadContainer {
  text-align: center;
  padding: 10px;
  height: 100%
}

#canvas-holder {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
}
#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-family: 'Lato', sans-serif;
}
.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.checkoutHeader {
  background-color: rgba(0,0,0,.02);
  padding: 25px;
  margin-bottom: 25px
}

.checkoutContainer h1 {
  font-family: 'Bad Script', Arial, sans-serif;
  color: #136a80;
  font-size: 30px;
  font-weight: 500;
}

.submitPaymentButton {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px;
    height: 40px;
    width: 300px;
    margin: 15px auto;
    color: white !important;
    justify-content:center;
    align-items:center;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    background-color: #6acbc4;
  }

.submitPaymentButton:hover {
    background-color: #136a80;
}

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.myRegistriesListItem:focus {
  outline: none;
  border: 0;
}
