<!-- HEADER -->
<div class="footerBlock" layout="row" layout-align="center center">
  <div layout="column" layout-align="center center">

    <div class="footerOptions" layout="row" layout-align="end center">
      <a class="footerOption" href="">Home</a>
      <a class="footerOption" href="">Terms</a>
      <a class="footerOption" href="">Privacy</a>
      <a class="footerOption" href="">Contact</a>
    </div>
    <div  layout="row" layout-align="start end">
      <span>Copyright © 2017 Take12, LLC. All Rights Reserved.</span>
    </div>
  </div>
</div>
