<!-- HEADER -->
<div layout="row" ng-controller="navBarController">
  <div layout="column" flex="5"></div>
  <div class="navBar" layout="column" flex="90">

    <div class="navBar" layout="row" layout-align="start end">
      <div layout="row" flex="10" layout-align="start end">
        <a href="http://109.199.125.104/~take12/site/index.php"><img class="imgNav" src="views/assets/take12logo.jpg" alt="logo"> </a>
      </div>
      <div class="navBarOptions" layout="row" flex="90" layout-align="end center" hide-md hide-sm hide-xs>
        <a class="menuOption" href="http://109.199.125.104/~take12/site/index.php/how-it-works">
          How it works</a>
        <span class="navBarDivider">/</span>
        <a class="menuOption" href="#register">Create Registry</a>
        <span class="navBarDivider">/</span>
        <a class="menuOption" href="http://109.199.125.104/~take12/site/index.php/give">
          Give</a>
        <span class="navBarDivider">/</span>
        <a class="menuOption" href="http://109.199.125.104/~take12/site/index.php/resources">
          Resources</a>
        <span class="navBarDivider">/</span>
        <a class="menuOption" href="http://109.199.125.104/~take12/site/index.php/about">
          About</a>
        <span class="navBarDivider">/</span>
        <a class="menuOption" href="http://109.199.125.104/~take12/site/index.php/contact">
          Contact</a>
        <a class="loginOption" href="#login">Login</a>
      </div>
      <div layout="row" flex="90" layout-align="end center" hide-gt-md>
        <md-menu md-position-mode="target-right target" md-offset="0 60">
          <md-button class="md-icon-button md-button md-ink-ripple material-icons md-menu-origin menuIcon" type="button" aria-label="Open Options Menu" ng-click="openMenu($mdMenu, $event)">list</md-button>
          <md-menu-content class="floatingMenu" width="4" ng-mouseleave="$mdMenu.close()" md-menu-align-target>
            <md-menu-item>
              <md-button class="menuButton" href="http://109.199.125.104/~take12/site/index.php/how-it-works">
                How it works</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button class="menuButton" ng-click="redirect('/register')">
                Create Registry</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button class="menuButton" href="http://109.199.125.104/~take12/site/index.php/give">
                Give</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button class="menuButton" href="http://109.199.125.104/~take12/site/index.php/resources">
                Resources</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button class="menuButton" href="http://109.199.125.104/~take12/site/index.php/about">
                About</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button class="menuButton" href="http://109.199.125.104/~take12/site/index.php/contact">
                Contact</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button class="menuButton loginButton"ng-click="redirect('/Login')">
                Login</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

    </div>
  </div>
  <div layout="column" flex="5"></div>
</div>
