<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Change photo</h2>
        <span flex></span>
        <md-button class="md-icon-button md-button md-ink-ripple material-icons" type="button" aria-label="Close dialog" ng-click="cancel()">close</md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="pictureUploadContainer">
        <input class="photoPicker" type="file" ngf-select ng-model="picFile" name="file"
               accept="image/*" ngf-max-size="2MB"
               ngf-model-invalid="errorFile" aria-label="File Upload">
         <i ng-show="photoView.file.$error.required">*required</i><br>
         <i ng-show="photoView.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      </div>
      <div class="uploadPhotoDiv">
        <img ng-show="photoView.file.$valid" ngf-thumbnail="picFile" class="registrationPhotoPreview" >
      </div>
      <div class="uploadPhotoDiv" layout="row" layout-align="center center">
        <md-button ng-click="picFile = null" ng-show="picFile">Remove</md-button>
        <md-button ng-show="picFile" ng-click="uploadPic(picFile)">Upload</md-button>
      </div>

      <div class="uploadPhotoDiv" layout="row" layout-align="center center">
        <span class="progress" ng-show="picFile.progress >= 0">
          <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
        </span>
        <span ng-show="picFile.result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('cancel')">
       Cancel
      </md-button>
      <md-button ng-click="answer('ok')">
        Ok
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
