<!-- HEADER -->
<div layout="row">
  <div layout="column" flex="5"></div>
  <div class="navBar" layout="column" flex="90">

    <div class="navBar" layout="row" layout-align="start end">
      <div layout="row" flex="10" layout-align="start end">
        <a href=""><img class="imgNav" src="views/assets/take12logo.jpg" alt="logo"> </a>
      </div>
      <div class="navBarOptions" layout="row" flex="90" layout-align="end center">
        <a class="menuOption" href="">How it works</a>
        <span class="navBarDivider">/</span>
        <a class="menuOption" href="#register">Create Registry</a>
        <span class="navBarDivider">/</span>
        <a class="menuOption" href="">Give</a>
        <span class="navBarDivider">/</span>
        <a class="menuOption" href="">Resources</a>
        <span class="navBarDivider">/</span>
        <a class="menuOption" href="">About</a>
        <span class="navBarDivider">/</span>
        <a class="menuOption" href="">Contact</a>
        <a class="loginOption" href="#login">Login</a>
      </div>
    </div>
  </div>
  <div layout="column" flex="5"></div>
</div>
