<!-- REGISTER NEW USER WHO VIEW -->
<div class="contentBlock" layout="row">
  <div layout="column" flex-gt-md="20" flex-xs="10" flex-sm="10" flex-md="20"></div>
  <div class="createRegistryBlock" layout="column" flex-gt-md="60" flex-xs="80" flex-sm="80" flex-md="60">
    <div class="textFormat">
      <h1 class = "badScriptHeading">Welcome to Take12!</h1>
      <p>Creating a registry is quick and easy.</p>
      <p>We'll guide you through the 5 step creation process, where we will ask
        for the Baby's Due Date, the mom's Goal Amout, an image, a short story
        about the mom and preferred Privacy Settings. Don't worry if you don't
        have all of this info readily available, you can always add to or
        edit the registry after the initial set up.</p>
      <br><br>
      <span><strong>What would you like to do?</strong></span>
      <br><br>
    </div>
    <h3 ng-if="message != ''">{{message}}</h3>
    <div class="createRegistryContainer" layout="column">
      <md-button class="md-raised registerWhoButton" type="submit" name="yourRegistry" aria-label="Create a registry for you" value="yourRegistry" ng-click="startRegistration('self')">Create a registry for you</md-button>
      <br>
      <md-button class="md-raised registerWhoButton" type="submit" name="lovedOneRegistry" aria-label="Create a registry for a loved one" value="lovedOneRegistry" ng-click="startRegistration('lovedOne')">Create a registry for a loved one</md-button>
    </div>
  </div>
</div>
