<!-- REGISTER NEW USER PHOTO VIEW -->
<div class="contentBlock" layout="row">
  <div layout="column" flex-gt-md="20" flex-xs="10" flex-sm="10" flex-md="20"></div>
  <div class="createRegistryBlock" layout="column" flex-gt-md="60" flex-xs="80" flex-sm="80" flex-md="60">
    <div class="textFormat">
      <h1 class = "badScriptHeading">Step 2 of 5</h1>
      <p ng-if="self==true">Upload an image for your registry.</p>
      <p ng-if="self==false">Upload an image for her registry.</p>
      <p>(This can be added or changed after the initial set up)</p>
      <br>
    </div>
    <h3 ng-if="message != ''">{{message}}</h3>
    <div class="createRegistryContainer" layout="column">
      <form name="photoView" ng-submit="goNext(2)">
        <!-- PICTURE UPLOAD FORM-->
        <div class="pictureUploadContainer" layout-align="center center">
          <input class="photoPicker" type="file" ngf-select ng-model="picFile" name="file"
                 accept="image/*" ngf-max-size="2MB"
                 ngf-model-invalid="errorFile" aria-label="File Upload">
           <i ng-show="photoView.file.$error.required">*required</i><br>
           <i ng-show="photoView.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
        </div>
        <div class="uploadPhotoDiv">
          <img ng-show="photoView.file.$valid" ngf-thumbnail="picFile" class="registrationPhotoPreview" >
        </div>
        <div class="uploadPhotoDiv" layout="row" layout-align="center center">
          <md-button ng-click="picFile = null" ng-show="picFile">Remove</md-button>
          <md-button ng-show="picFile" ng-click="uploadPic(picFile)">Upload</md-button>
        </div>

        <div class="uploadPhotoDiv" layout="row" layout-align="center center">
          <span class="progress" ng-show="picFile.progress >= 0">
            <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
          </span>
          <span ng-show="picFile.result">Upload Successful</span>
          <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </div>

        <md-input-container layout="row" layout-align="center center">
          <md-button class="md-raised submitButton" name="back" aria-label="Back" value="Back" ng-click="goBack(2)">Back</md-button>
          <md-button class="md-raised submitButton" type="submit" name="submit" aria-label="Next" value="Next">Next</md-button>
        </md-input-container>
      </form>

    </div>
  </div>
</div>
